:root {
    --body: hsl(0, 0%, 98%);
    --detalhe: hsl(0, 0%, 100%);
    --texto: hsl(200, 15%, 8%);
}

.escuro {
    --body: hsl(207, 26%, 17%);
    --detalhe: hsl(209, 23%, 22%);
    --texto: hsl(0, 0%, 84%);
}